 @media (min-width: 768px) {
     .hero {
         position: relative;
     }

     .hero>picture {
         width: 100%;
         height: calc(100vh - 9.7rem);
         min-height: 680px;
         display: flex;
         padding-bottom: .3rem;
         background-color: var(--primary-color);
     }

     .hero>picture>img {
         width: 100%;
         object-position: bottom;
         object-fit: cover;
     }

     .hero>article {
         position: absolute;

     }

     .hero>.weather {
         right: 30px;
         bottom: 30px;
         width: 260px;
         background-color: var(--off-accent-color);
     }

     .hero>.weather>figure {
         display: none;
     }

     .hero>.weather>h2::after {
         content: "🌥️";
         position: absolute;
         right: 1rem;
     }

     .hero>.data {
         left: 30px;
         top: 30px;
         width: 320px;
         background-color: var(--off-accent-color);
     }

     .hero>article>h2 {
         padding-block: 1rem;
         width: 90%;
         color: var(--accent-color);
         position: relative;
         left: -0.5rem;
         background-color: var(--off-secondary-color);
         padding-block: 0.5rem;
         padding-left: 1rem;
         text-align: left;

     }
 }